body {
   margin: 0;
   display: flex;
}






#container {
   width: 1400px;
   height: 400px;
   
}

#header {
   display: flex;
   
   justify-content: center;
   margin: 0 auto;
}

h1 {
   color: darkgreen;
}

#content{
   display: flex;
   
   justify-content: center;
   margin: 0 auto;
}



ul {
   
  display: flex;
  display: block;
  margin: auto;
}

li {
   
   padding: 10px;
}

button {
   width: 500px;
   height: 60px;
   background-color: darkgreen;
   color: wheat;
   border: none;
}

button:hover {
   cursor: pointer;
   background-color: rgb(0, 100, 68);
   color: white;
}