@media (min-width: 300px) and (max-width: 900px) {
   #reportCash {
      
   }

   table {
      width: 670px;
   }

   thead , th{
      
      font-size: 12px;
   }

   td {
      width: ;
      padding: 0;
      border;
   }

   tbody, th {
   
   }

   input {
      width: 153px;
      margin: 0 auto;
   }

   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: none;
   margin: 0;
}

select[id^="name"] {
   font-size: 12px; 
   width: 150px;
   height: 28px;
   border: none;
   padding: 0;
   
}

select[id^="cash"]{

margin-left: 30px;
}


}