@media (min-width: 300px) and (max-width: 900px) {
   #report {

      
   }

      #infoDrive {
         
         width: 670px;
      }

      #name, #carReg, #dateStart, #timeStart, #dateFinish, #timeFinish {
         width: 100px;
         font-size: 16px;
      }

      .dateFinish {
         display: block;
      }

      thead {
         
         font-size: 12px;
      }

      
         
      table {
   
   width: 670px;
   
  }

  td {
   padding: 0;
   width: 102px;
  }


  input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: none;
   margin: 0;
}

   
  input {
   padding: 0;
   width: 100px;
   height: 28px;  
   font-size: 16px;
   
  }

  input[id^="currency"] {
   
   width: 48px;
   border: none;
   padding: 0;
   
}

select {
   
   height: 20px;
   width: 50px;
   border: none;
   box-shadow: none;
   
   
}

select, option {

   
   font-size: 16px;
}

}